.fondo-verde{
    background-color:#1B4332 ;
    color: #FFFFFF;;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.nav-link, .navbar-brand{
    color: #FFFFFF ;
}

footer{
    color: #FFFFFF;
}

.borde-superior{
    border-top: 1px solid #FFFFFF;
}

.fondo-laranxa{
    background-color: #E07A5F;
    color: #FFFFFF;

}

.btn-catalogo {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 10px 30px;
  
}

.btn-catalogo:hover {
    background-color: #FFFFFF;
    color: #E07A5F;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

.texto-principal{
   color: #212529;
}

.btn-engadir-carro{
    background-color:#E07A5F;
    color: #FFFFFF;
    border: 1px solid #E07A5F;
    border-radius: 3px;
}

.btn-engadir-carro:hover{
     background-color: #FFFFFF;
    color: #E07A5F;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

